<html>
  <head>
    <title>DonaWaste - Available Donations</title>
  </head>
  <body>
    <a href="{% url 'donation:create_new_donation' %}">
      <button type="button">Create New Donation</button>
    </a>
    <h1>Available Donations</h1>

    {% if not donations %}
      Sorry, there aren't any available donations. Please check again later.
    {% endif %}

    {% for donation in donations %}
      {% if donation.status == True %}
        <h3>{{donation.title}}</h3>
        <b>Category:</b>
        {% if donation.category %}
          {{donation.category.name}}
        {% else %}
          Unspecified
        {% endif %}
        <br>
        <b>Date and Time Created:</b> {{donation.datetime_created}}<br>
        <b>Weight (grams):</b> {{donation.weight_grams}}<br><br>
        <a href="{% url 'donation:show_donation_details' donation.pk %}">
          <button type="button">See Details</button>
        </a>
      {% endif %}
    {% endfor %}

  </body>
</html>