{% extends 'base.html' %}
{% block content %}
<html>
  <head>
    <title>DonaWaste - Create Donation</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container mt-4">
        <h2 class="mb-4">Create Donation</h2>

        <form method="POST" action="{% url 'donation:create_new_donation' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
            {% if title_warning %}
            <small id="titleHelp" class="form-text text-danger">{{title_warning}}</small>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="category">Category</label><br>
            {% for category in categories %}
            <div class="form-check">
              <input class="form-check-input" type="radio" id="category{{forloop.counter}}" name="category" value="{{category.pk}}" required>
              <label class="form-check-label" for="category{{forloop.counter}}">{{category.name}}</label>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="weight">Weight (grams)</label>
            <input type="number" class="form-control" id="weight" name="weight_grams" required>
            {% if weight_grams_warning %}
            <small id="weightHelp" class="form-text text-danger">{{weight_grams_warning}}</small>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="image_url">Image URL</label>
            <textarea class="form-control" id="image_url" name="image_url" required></textarea>
          </div>
          <div class="form-group">
            <label for="map">Pickup Location</label>
            <div id="map" style="width:100%; height:400px;"></div>
            {% if map_warning %}
              <small id="weightHelp" class="form-text text-danger">{{map_warning}}</small>
            {% endif %}
            <input type="hidden" class="form-control" id="latitude" name="latitude" required>
            <input type="hidden" class="form-control" id="longitude" name="longitude" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Create</button>
        </form>
    </div>

    <script>
      function myMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(-6.1692651, 106.7865613),
          zoom: 18,
        });
        
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });
      
        var markers = [];
      
        function addMarker(location, map) {
          if(markers.length !== 0) {
            markers[0].setMap(null);
            markers.pop();
          }
          var newMarker = new google.maps.Marker({
            position: location,
            map: map
          });
          markers.push(newMarker);
          document.getElementById('latitude').value = location.lat();
          document.getElementById('longitude').value = location.lng();
        }
      }
    </script>
      
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR71Bdem7SpTRwVK1YBa3tNsBGDPkWTUg&callback=myMap"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
{% endblock content %}
</html>
