<html>
  <head>
    <title>DonaWaste - Donation Details</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h1 class="mb-4">Donation Details</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{donation.title}}</h5>
                <p class="card-text">
                    <strong>Donator:</strong>
                    {% if donation.donator %}
                      {{donation.donator.username}}
                    {% else %}
                      Anonymous
                    {% endif %}
                    <br>
                    <strong>Status:</strong> 
                    {% if donation.status == True %}
                        Open
                    {% else %}
                        Closed
                    {% endif %}
                    <br>
                    <strong>Primary Key:</strong> {{donation.pk}}<br>
                    <strong>Category:</strong>
                    {% if donation.category %}
                        {{donation.category.name}}
                    {% else %}
                        Unspecified
                    {% endif %}
                    <br>
                    <strong>Date and Time Created:</strong> {{donation.datetime_created}}<br>
                    <strong>Weight (grams):</strong> {{donation.weight_grams}}<br>
                    <strong>Address:</strong> {{donation.address}}<br>
                    <strong>Description:</strong>
                    {% if donation.description %}
                        {{donation.description}}
                    {% else %}
                        There is no description for this donation.
                    {% endif %}
                </p>
            </div>
        </div>

        {% if donation.donator == logged_user %}
        <div class="text-center my-4">
            <a href="{% url 'donation:edit_existing_donation' donation.pk %}" class="btn btn-success">Edit Donation</a>
            <a href="" class="btn btn-success">Close Donation</a>
        </div>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
