<!DOCTYPE html>
<html>
  <head>
    <title>DonaWaste - Edit Donation</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% for donation in donation %}
    <div class="container my-3">
        <a href="{% url 'donation:show_available_donations' %}" class="btn btn-primary">See Available Donations</a>
        <a href="{% url 'donation:show_donation_details' donation.pk %}" class="btn btn-secondary ml-2">Go Back</a>

        <h1 class="my-4">Edit Donation</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <h3>Title</h3>
      <input type="text" name="title" value="{{donation.title}}" required>
      {% if title_warning %}
      <br>{{title_warning}}
      {% endif %}
      <h3>Category</h3>
      {% for category in categories %}
        {% if category.pk == donation.category.pk %}
          <input type="radio" name="category" value="{{category.pk}}" checked required>{{category.name}}<br>
        {% else %}
          <input type="radio" name="category" value="{{category.pk}}" required>{{category.name}}<br>
        {% endif %}
      {% endfor %}
      <h3>Weight (grams)</h3>
      <input type="number" name="weight_grams" value="{{donation.weight_grams}}" required>
      {% if weight_grams_warning %}
      <br>{{weight_grams_warning}}
      {% endif %}
      <h3>Address</h3>
      <input type="text" name="address" value="{{donation.address}}" required>
      <h3>Description</h3>
      <input type="text" name="description" value="{{donation.description}}">
      <h3>Status</h3>

      {% if donation.status == True %}
      <input type="radio" name="status" value=True checked required>Open<br>
      <input type="radio" name="status" value=False required>Closed<br>
      {% else %}
      <input type="radio" name="status" value=True required>Open<br>
      <input type="radio" name="status" value=False checked required>Closed<br>
      {% endif %}
      <br>
      <input type="submit" value="Save Changes">
    </form>
    {% endfor %}
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
