{% extends 'base.html' %}

{% block meta %}
{% if public == True %}
<title>DonaWaste - Available Donations</title>
{% else %}
<title>DonaWaste - My Donations</title>
{% endif %}
{% endblock meta %}

{% block content %}
    <div class="container mt-4">
      <h2 class="mb-4">Donations</h2>
      {% if public == True %}
        <h2 class="mb-4 text-center">Available Donations</h2>
        {% if not donations %}
        <div class="alert alert-success" role="alert">
          Sorry, there aren't any available donations. Please check again later.
        </div>
        {% endif %}
      {% else %}
        <h2 class="mb-4 text-center">My Donations</h2>
        <div class="alert alert-success" role="alert">
          <b><a href="{% url 'donation:create_new_donation' %}">Donate your waste here</a></b> to the people who need it.
        </div>
      {% endif %}

      {% for donation in donations %}
        <div class="card mb-3">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col col-lg-6">
                  <img src="{{donation.image_url}}" width="200" height="200">
                </div>
                <div class="col col-lg-6">
                  <h5 class="card-title">{{donation.title}}</h5>
                  <p class="card-text">
                    <strong>Donator:</strong> 
                    {{donation.donator.username}}
                    <br>
                    <strong>Status:</strong> 
                    {% if donation.status == True %}
                        <span class="badge badge-success">Open</span>
                    {% else %}
                        <span class="badge badge-danger">Closed</span>
                    {% endif %}
                    <br>
                    <strong>Category:</strong> {{donation.category.name}}
                    <br>
                    <strong>Date and Time Created:</strong> {{donation.datetime_created}}
                    <br><br>
                    <a href="{% url 'donation:show_donation_details' donation.pk %}" class="btn btn-success">See Details</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}
